//- provides the HTML for the index/default page
extends layout.pug

block content 
    p Hello from the Reading List app!


//- Step 5: test initial setup 
//- Step 6: splitting the application and server into seperate folders/modules
